<script>
	window.galleryData = [
		{
			thumb: "{{ '/assets/images/4Austens-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/4Austens-main.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-main-p&p.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-main-Emma.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-top.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-open.JPG' | relative_url }}"],
			title: "Jane Austen Collection",
			author: "Jane Austen",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/Dune-aesthetic.JPG' | relative_url }}",
			images: ["{{ '/assets/images/Dune-main.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-close-main2.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-close-main.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-top.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-bottom.JPG' | relative_url }}",
			],
			title: "Dune",
			author: "Frank Herbert",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/KingArthur-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/KingArthur-main.JPG' | relative_url }}",
				"{{ '/assets/images/KingArthur-top.JPG' | relative_url }}",
				"{{ '/assets/images/KingArthur-bottom.JPG' | relative_url }}",
			],
			title: "Arthurian Myths and Legends",
			author: "Edited by J.K. Jackson",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/OrientExpress-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/OrientExpress-main.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-top.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-open.JPG' | relative_url }}"
			],
			title: "Murder on the Orient Express",
			author: "Agatha Christie",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/LOTR-argonath-aesthetic.JPG' | relative_url }}",
			images: ["{{ '/assets/images/LOTR-argonath-main.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-top.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-close.JPG' | relative_url }}",
			],
			title: "The Silmarillion",
			author: "J.R.R. Tolkien",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/LOTR-lothlorien-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/LOTR-lothlorien-main.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-top.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-open.JPG' | relative_url }}",
			],
			title: "Lord of the Rings",
			author: "J.R.R. Tolkien",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/WoO-aesthetic.JPG' | relative_url }}",
			images: ["{{ '/assets/images/WoO-main.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-main2.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-main.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-top.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-top.JPG' | relative_url }}",
			],
			title: "The Wizard of Oz",
			author: "L. Frank Baum",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/Austen-stack.JPG' | relative_url }}",
			images: ["{{ '/assets/images/MansfieldPark-main.JPG' | relative_url }}",
				"{{ '/assets/images/MansfieldPark-top.JPG' | relative_url }}",
				"{{ '/assets/images/MansfieldPark-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-main.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-top.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/P&P-main.JPG' | relative_url }}",
				"{{ '/assets/images/Austen-stack-back.JPG' | relative_url }}",
			],
			title: "Pride & Prejudice, Emma, Mansfield Park",
			author: "Jane Austen",
			year: "2022 - 2023"
		},
		{
			thumb: "{{ '/assets/images/HHGTTG-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/HHGTTG-main.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-top.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-open.JPG' | relative_url }}",
			],
			title: "The Hitchhiker's Guide to the Galaxy",
			author: "Douglas Adams",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/AiW-stack-main.JPG' | relative_url }}",
			images: ["{{ '/assets/images/AiW-stack-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-top.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-WhiteQueen-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-WhiteQueen-open.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-RedQueen-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-RedQueen-open.JPG' | relative_url }}",
			],
			title: "Alice's Adventures in Wonderland",
			author: "Lewis Carroll",
			year: "2023"
		}
	];
</script>