<script>
	window.galleryData = [
		{
			thumb: "{{ '/assets/images/4Austens-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/4Austens-main.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-main-p&p.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-main-Emma.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-top.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/4Austens-open.JPG' | relative_url }}"],
			title: "Jane Austen Collection",
			author: "Jane Austen",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/Dune-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/Dune-main.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-close-main2.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-close-main.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-top.JPG' | relative_url }}",
				"{{ '/assets/images/Dune-bottom.JPG' | relative_url }}",
			],
			title: "Dune",
			author: "Frank Herbert",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/KingArthur-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/KingArthur-main.JPG' | relative_url }}",
				"{{ '/assets/images/KingArthur-top.JPG' | relative_url }}",
				"{{ '/assets/images/KingArthur-bottom.JPG' | relative_url }}",
			],
			title: "Arthurian Myths and Legends",
			author: "Edited by J.K. Jackson",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/OrientExpress-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/OrientExpress-main.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-top.JPG' | relative_url }}",
				"{{ '/assets/images/OrientExpress-open.JPG' | relative_url }}"
			],
			title: "Murder on the Orient Express",
			author: "Agatha Christie",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/LOTR-argonath-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/LOTR-argonath-main.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-close.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-top.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-argonath-bottom-close.JPG' | relative_url }}",
			],
			title: "The Silmarillion",
			author: "J.R.R. Tolkien",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/LOTR-lothlorien-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/LOTR-lothlorien-main.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-top.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/LOTR-lothlorien-open.JPG' | relative_url }}",
			],
			title: "Lord of the Rings",
			author: "J.R.R. Tolkien",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/Temeraire-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/Temeraire-main.JPG' | relative_url }}",
				"{{ '/assets/images/Temeraire-aesthetic2.JPG' | relative_url }}",
			],
			title: "Buried Deep (Temeraire)",
			author: "Naomi Novik",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/Howl-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/Howl-main.JPG' | relative_url }}",
				"{{ '/assets/images/Howl-main-close1.JPG' | relative_url }}",
				"{{ '/assets/images/Howl-main-close2.JPG' | relative_url }}",
				"{{ '/assets/images/Howl-top.JPG' | relative_url }}",
				"{{ '/assets/images/Howl-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/Howl-bottom-close.JPG' | relative_url }}",
			],
			title: "Howl's Moving Castle",
			author: "Diana Wynne Jones",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/WoO-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/WoO-main.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-main2.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-main.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-top.JPG' | relative_url }}",
				"{{ '/assets/images/WoO-close-top.JPG' | relative_url }}",
			],
			title: "The Wizard of Oz",
			author: "L. Frank Baum",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/Austen-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/MansfieldPark-main.JPG' | relative_url }}",
				"{{ '/assets/images/MansfieldPark-top.JPG' | relative_url }}",
				"{{ '/assets/images/MansfieldPark-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-main.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-top.JPG' | relative_url }}",
				"{{ '/assets/images/Emma-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/P&P-main.JPG' | relative_url }}",
				"{{ '/assets/images/Austen-stack-back.JPG' | relative_url }}",
			],
			title: "Pride & Prejudice, Emma, Mansfield Park",
			author: "Jane Austen",
			year: "2022 - 2023"
		},
		{
			thumb: "{{ '/assets/images/HHGTTG-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/HHGTTG-main.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-top.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/HHGTTG-open.JPG' | relative_url }}",
			],
			title: "The Hitchhiker's Guide to the Galaxy",
			author: "Douglas Adams",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/AiW-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/AiW-stack-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-top.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-stack-bottom.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-WhiteQueen-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-WhiteQueen-open.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-RedQueen-main.JPG' | relative_url }}",
				"{{ '/assets/images/AiW-RedQueen-open.JPG' | relative_url }}",
			],
			title: "Alice's Adventures in Wonderland",
			author: "Lewis Carroll",
			year: "2023"
		},
		{
			thumb: "{{ '/assets/images/Musketeers-icon.JPG' | relative_url }}",
			images: ["{{ '/assets/images/Musketeers-main.JPG' | relative_url }}",
			],
			title: "The Three Musketeers",
			author: "Alexandre Dumas",
			year: "2024 - 2025"
		}
	];
	window.illustrationData = [
		{
			title: "Alice In Dragonland",
			image: "{{ '/assets/images/digitalart/Verona_In_Dragonland.jpg' | relative_url }}",
		},
		{
			title: "Pink Butterfly Girl",
			image: "{{ '/assets/images/digitalart/Pink_Butterfly.jpg' | relative_url }}",
		},
		{
			title: "Autumn Witch Market",
			image: "{{ '/assets/images/digitalart/Witch_Market_At_Dusk.jpg' | relative_url }}",
		},
		{
			title: "Crow Witch",
			image: "{{ '/assets/images/digitalart/Crow_Witch.jpg' | relative_url }}",
		},
		{
			title: "Glitch",
			image: "{{ '/assets/images/digitalart/Glitch.jpg' | relative_url }}",
		},
		{
			title: "A Strange Ship",
			image: "{{ '/assets/images/digitalart/A_Strange_Ship.png' | relative_url }}",
		},
		{
			title: "Migration",
			image: "{{ '/assets/images/digitalart/Migration.png' | relative_url }}",
		},
		{
			title: "Candy Princess",
			image: "{{ '/assets/images/digitalart/Candy_Princess.jpg' | relative_url }}",
		},
		{
			title: "Ballerina Fairy",
			image: "{{ '/assets/images/digitalart/Ballerina_fairy.jpg' | relative_url }}",
		},
		{
			title: "Botanyborg",
			image: "{{ '/assets/images/digitalart/Botanyborg.png' | relative_url }}",
		},
		{
			title: "Clara and Her Nutcracker",
			image: "{{ '/assets/images/digitalart/Nutcracker_Dec_2024.png' | relative_url }}",
		},
		{
			title: "Dragon Watching",
			image: "{{ '/assets/images/digitalart/DragonWatching.jpg' | relative_url }}",
		},
		{
			title: "Ballerina Studies",
			image: "{{ '/assets/images/digitalart/Ballerina_Studies.jpg' | relative_url }}",
		},
		{
			title: "Botany Witch",
			image: "{{ '/assets/images/digitalart/Botany-witch.jpg' | relative_url }}",
		},
		{
			title: "Medieval Witch",
			image: "{{ '/assets/images/digitalart/Medieval-witch.jpg' | relative_url }}",
		},
		{
			title: "Eowyn and Faramir",
			image: "{{ '/assets/images/digitalart/Eowyn-Faramir-love.jpg' | relative_url }}",
		},
		{
			title: "Anidala",
			image: "{{ '/assets/images/digitalart/Anidala.jpg' | relative_url }}",
		},
		{
			title: "Autumn Fairy",
			image: "{{ '/assets/images/digitalart/Autumn-fairy.jpg' | relative_url }}",
		},
		{
			title: "Historical Character Sketches",
			image: "{{ '/assets/images/digitalart/HistoricalSketches.jpg' | relative_url }}",
		},
		{
			title: "WW Animated Series",
			image: "{{ '/assets/images/digitalart/WWTAS.jpg' | relative_url }}",
		},
		{
			title: "WW Armor Designs",
			image: "{{ '/assets/images/digitalart/WW_armor.png' | relative_url }}",
		},
		{
			title: "WW Classic Designs",
			image: "{{ '/assets/images/digitalart/WW_classic.png' | relative_url }}",
		},
		{
			title: "WW Modern Designs",
			image: "{{ '/assets/images/digitalart/WW_modern.png' | relative_url }}",
		},
		{
			title: "WW Retro Designs",
			image: "{{ '/assets/images/digitalart/WW_retro.png' | relative_url }}",
		},
		{
			title: "WW Superhero Designs",
			image: "{{ '/assets/images/digitalart/WW_superhero.png' | relative_url }}",
		},
	];
</script>