<script>
	window.galleryData = [
		{
			thumb: "{{ '/assets/images/4Austens-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/4Austens-bottom.JPG' | relative_url }}",
			title: "Jane Austen Collection",
			author: "Jane Austen",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/Dune-aesthetic.JPG' | relative_url }}",
			full: "{{ '/assets/images/Dune-main.JPG' | relative_url }}",
			title: "Dune",
			author: "Frank Herbert",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/KingArthur-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/KingArthur-top.JPG' | relative_url }}",
			title: "Arthurian Myths and Legends",
			author: "Edited by J.K. Jackson",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/OrientExpress-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/OrientExpress-main.JPG' | relative_url }}",
			title: "Murder on the Orient Express",
			author: "Agatha Christie",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/WoO-aesthetic.JPG' | relative_url }}",
			full: "{{ '/assets/images/WoO-main.JPG' | relative_url }}",
			title: "The Wizard of Oz",
			author: "L. Frank Baum",
			year: "2025"
		},
		{
			thumb: "{{ '/assets/images/Austen-stack.JPG' | relative_url }}",
			full: "{{ '/assets/images/Austen-stack-main.JPG' | relative_url }}",
			title: "Pride & Prejudice, Emma, Mansfield Park",
			author: "Jane Austen",
			year: "2022 - 2023"
		},
		{
			thumb: "{{ '/assets/images/LOTR-lothlorien-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/LOTR-lothlorien-main.JPG' | relative_url }}",
			title: "Lord of the Rings",
			author: "J.R.R. Tolkien",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/HHGTTG-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/HHGTTG-main.JPG' | relative_url }}",
			title: "The Hitchhiker's Guide to the Galaxy",
			author: "Douglas Adams",
			year: "2024"
		},
		{
			thumb: "{{ '/assets/images/AiW-stack-main.JPG' | relative_url }}",
			full: "{{ '/assets/images/AiW-stack-top.JPG' | relative_url }}",
			title: "Alice's Adventures in Wonderland",
			author: "Lewis Carroll",
			year: "2023"
		}
	];
</script>